{{>layout/home-header}}

<div class="container">
    {{>layout/bodyheader}}

    <table class="table table-striped">
        <thead class = "thead strong">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>고객SMS수신동의유형</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#custs}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{phoneNumber}}</td>
                <td>{{consentType}}</td>
            </tr>
        {{/custs}}
        </tbody>
    </table>

    {{>layout/bodyfooter}}
</div>

{{>layout/footer}}