{{>layout/home-header}}

<div class="container">
    {{>layout/bodyheader}}

    <div class="jumbotron">
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-secondary" href="/custs/new">회원 가입</a>
            <a class="btn btn-secondary" href="/custs">회원 목록</a>
        </p>
        <p class="lead">공연 기능</p>
        <p>
            <a class="btn btn-dark" href="/items/new">공연 등록</a>
            <a class="btn btn-dark" href="/items">공연 목록</a>
        </p>
        <p class="lead">예매 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/bookings/new">공연 예매</a>
            <a class="btn btn-lg btn-info" href="/bookings">예매 내역</a>
        </p>
        <p class="lead">문자 기능</p>
        <p>
            <a class="btn btn-warning" href="/sms/send">문자 발송</a>
            <a class="btn btn-warning" href="/sms/sendList">문자 내역</a>
        </p>
        <p class="lead">SMS 템플릿 기능</p>
        <p>
            <a class="btn btn-success" href="/smsTemplates/new">SMS 템플릿 등록 및 조회</a>
        </p>
    </div>

    {{>layout/bodyfooter}}
</div> <!-- /container -->


{{>layout/footer}}