{{>layout/home-header}}

<div class="container">
    {{>layout/bodyheader}}

    <form role="form" action="/items/new" method="post">
        <div class="form-group">
            <label for="name">콘서트명</label>
            <input type="text" class="form-control" placeholder="이름을 입력하세요" id ="name" name="name">
        </div>
        <div class="form-group">
            <label for="price">가격</label>
            <input type="number" class="form-control" id="price" name="price">
        </div>
        <div class="form-group">
            <label for="stockQuantity">수량</label>
            <input type="number" class="form-control" id="stockQuantity" name="stockQuantity">
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
    <br/>

    {{>layout/bodyfooter}}
</div> <!-- /container -->

{{>layout/footer}}