{{>layout/home-header}}

<div class="container">
    {{>layout/bodyheader}}
    <div class="row">
        <!--템플릿-->
        <div class="col-9">
            <table class="table table-striped">
                <thead class = "thead strong">
                <tr>
                    <th></th>
                    <th>번호</th>
                    <th>템플릿내용</th>
                    <th>SMS유형</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#templates}}
                    <tr>
                        <td><input type="radio" class="template-radio" name="template"> </td>
                        <td>{{id}}</td>
                        <td>{{templateContent}}</td>
                        <td>{{smsType}}</td>
                    </tr>
                {{/templates}}
                </tbody>
            </table>
        </div>

        <!--고객-->
        <div class="col-3">
            <div>
                <form class="row">
                    <div class="col-auto">
                        <select class="form-select" id="selectItem">
                            <option value="">공연 선택</option>
                            {{#items}}
                            <option value="{{id}}">{{name}}</option>
                            {{/items}}
                        </select>
                    </div>
                </form>
            </div>
            <table class="table table-striped">
                <thead class = "thead strong">
                <tr>
                    <th></th>
                    <th>번호</th>
                    <th>이름</th>
                </tr>
                </thead>
                <tbody id="custBody">

                </tbody>
            </table>
        </div>

    </div>
    <button type="button" class="btn btn-primary" id="btn-send">발송</button>

    {{>layout/bodyfooter}}
</div> <!-- /container -->

{{>layout/footer}}